* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
/*cabeçario*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px #00000040;
  }
/*cabeçario (no total)*/
.header .nav {
  display: flex;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
/*cabeçario (lista a direita)*/
.header .nav li {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDFDFD;
}
.header .nav li a {
    text-decoration: none;
    color: #FDFDFD;
  }
/*____________________________________________________*/
/*inicio*/
.principal1 {
  margin: 0 auto;
  width: 600px;
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-evenly;
}
.principal1 h1 {
  color: #FF4081;
  width: 480px;
  text-align:left; 
  font-size: 60px;
  text-justify: inter-word;
}
.principal1 p {
  font-size: 27px;
  padding: 20px 0 30px 0px;
  width: 320px;
}
#botao {
  border: solid 1px #FF4081 ;
  color: #FF4081;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 3px;  
}
/* inicio1 */
.inicio1 {
  padding: 50px 0px 50px 0px;
  display: flex;
  background-color: #F7F7F7;;
}
.inicio1 ul{
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    margin: 0 auto;   
}
.inicio1 h3{
    padding: 20px 0px -0px 0px;
    color: #FF4081;
}
.inicio1 li{
    text-align: center;
    width: 400px;
}
.texto{
    padding: 5px;
    margin: 0px 0px 20px 0px;
}
.buttonpink{
    background-color: #FF4081;
    width: 200px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    border-radius: 40px;
    padding: 14px 0 14px 0;
}
/*quem somos nos*/
.inicio2{
  width: 1400px;
  margin: 0 auto;
}
.inicio2 h3{
  font-size: 37px;
  padding: 80px 0px 50px 100px;
  color: #2E948A;
}
.inicio2 ul{
  display: flex;
  padding: 0px 0px 0px 100px;
}
.inicio2 li{
  padding: 10px 80px 70px 0px;
  display: flex;
}
.inicio2 p{
  padding: 10px 0px 0px 20px;
  width: 400px;
  font-size: 18px;
}
.inicio2 span{
  padding: 10px;
  font-weight: 600;
}
/* Mais conteudo para voce */

.inicio3 {
padding: 2px 2px 0px 2px;
display: flex;
background-color: #E5E5E5;
justify-content: center;
}
.inicio3 ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.inicio3 h3 {
  color: #2E948A;
  text-align: center;
  padding: 10px 0px 0px 38px;
}
section h4 {
  background-color: #e5e5e5 ;
  color: #2E948A;
  font-size: 37px;
  padding: 50px 20px 20px 0px;
  text-align: center;
  }
.inicio3 li {
  text-align: center;
  width: 400px;
}
.texto4 {
  padding: 0px 10px 10px 30px;
  width: 319px;
  margin: 10px 20px 10px 20px;
  text-align: left;
}
.quadro {
  margin: 0 auto;
  width: 319px;
  height: 193px;
  background-color: #C4C4C4;
}
.posts{
text-align: center;
padding: 70px 0px 100px 0px;
background-color: #E5E5E5;
}
.posts p{
  width: 300px;
  font-size: 25px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid  #FF4081;
  color: #FF4081;
  padding: 10px 0 10px 10px;
  border-radius: 40px;
}
/*____________________________________________________*/
/*cursos*/
.titulo_cursos {
  margin: 0 auto;
  padding: 70px 0px 80px 20px ;
  }
  .titulo_cursos h1{
      font-size: 60px;
      font-weight: 700;
      color: #FF4081;
  }
  .titulo_cursos span{
      font-size: 20px;
      font-weight: 400;
      color: #555555;
  }
/* titulo*/
  .main{
      margin: 0 auto;
      width: 1600px;
      text-decoration: none;
   }
   .curso1{
       display: flex;
      padding: 10px 20px 80px 0px;
   }
   .titulo {
      font-size: 35px;
      font-weight: 700;
      color: #FF4081;
       padding:0px 20px 30px 80px;
   }
   .curso1 p{
      font-size: 18px;
      font-weight: 300;
      color: #000000;
      padding: 30px 0px 60px 0px;
      width:800px;
  }
  #botao_curso {
      text-decoration: none;
      background-color:#419488 ;
      border: 1px solid #419488; 
      color: #ffffff;
      font-size: 20px;
      border-radius: 67px;
      padding: 10px 50px 10px 50px ;
  }
  .linha div{
      width: 1600px;
      background-color: #C4C4C4;
      height: 2px;
      background-color: #C4C4C4;;
      margin: 0 auto;
 }
  .curso2{
      display: flex;
      width: 1100px;
      padding: 80px 20px 100px 0px
  }
  .titulo2{
      font-size: 35px;
      font-weight: 700;
      color: #FF4081;
      padding:0px 20px 30px 80px;
  }
  .curso2 p{
      font-size: 18px;
      font-weight: 300;
      color: #000000;
      padding: 30px 0px 60px 0px;
      width:800px;
  }
 .curso3{
      display: flex;
      width: 1100px;
      padding: 80px 0px 150px 60px;
  }
  .titulo3{
      font-size: 35px;
      font-weight: 700;
      color: #FF4081;
      padding:0px 20px 30px 80px;
  }
  .curso3 p{
      font-size: 18px;
      font-weight: 300;
      color: #000000;
      padding: 30px 0px 60px 0px;
      width:800px;
  }
/*____________________________________________________*/

.principal-investimentos{
  width: 100px;
  margin: 0 auto;
  display: flex;
  padding: 50px 250px 50px 0px ; 
  justify-content: space-around;
}
.principal-investimentos h1{
  padding: 80px 0px 0px 0px;
  color: #FF4081;
  width: 512px;
  text-align: left;
  font-size: 60px;
  text-justify: inter-word; 
}
.principal-investimentos p{
  font-size: 20px;
  padding: 20px 0px 40px 0px;
  width: 461px;
}
.principal-investimentos img{
  padding: 60px 0px 0px 110px;
}
.cursos{
  background-color:#F7F7F7; ;
  justify-content: space-around;
}
.aula1{
  display: flex;
  width: 1300px;
  margin: 0 auto;
  padding: 50px 13px 50px 15px;
}
.aula2{
  display: flex;
  width: 1300px;
  margin: 0 auto;
  padding: 50px 13px 50px 15px;
}
.aula3{
  display: flex;
  width: 1300px;
  margin: 0 auto;
  padding:50px 13px 50px 15px;
}
.titulo_aula{
  color: #FF4081;
  font-size: 35px;
  font-weight: 700px;
  padding: 10px 10px 10px 100px;
}
.aula1  p , .aula2 p, .aula3 p{
  padding: 10px 0px 0px 100px;
  width: 500px;
}
/*____________________________________________________*/

.contato{
  margin: 0 auto;
  width: 1400px;
  display: flex;
  justify-content: space-around;
   padding: 100px 0px 165px 0px;
}
.contato h1{
  font-size: 40px;
  font-weight: 700;
  color:#FF4081;
}
.contato form{
  width: 400px;
  padding-top: 30px;
}
.contato input{
  font-weight: 400;
  color:#58555D ;
  height: 30px;
  width: 500px;
  margin-top: 20px;
  border-radius: 7px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 1px solid #686868 ;
  stroke: none;
}
#mensagem{
  height: 20px;
  padding-bottom: 140px;
} 
button{
border: 1px solid;
background-color:#FF4081 ;
color: #ffffff;
width: 108px;
height: 32px;
text-align: center;
border-radius: 20px;
margin-top: 20px;
}
/*____________________________________________________*/
/*blog*/

.blog-background{
  background-color:#E5E5E5; 
}
.principal-blog{
margin: 0 auto;
display: flex;
padding: 50px 250px;
justify-content: space-around;
width: 1800px;
}
.principal-blog h1{
padding: 80px 0px 30px 0px;
color: #2E948A;
width: 512px;
text-align: left;
font-size: 60px;
text-justify: inter-word; 
}
.principal-blog p{
font-size: 20px;
padding: 20px 0px 40px 0px;
width: 431px;
}
.principal-blog img{
padding: 30px 0px 0px 110px;
}
.section-blog{
margin: 0 auto;
width: 1800px;
display: flex;
justify-content: space-around;
padding:90px 100px 150px 100px;
}
.section-blog ul{
list-style: none;
}
.quadrado-blog{
margin: 0 auto;
width: 518px;
height: 259px;
background-color: #C4C4C4;
}
.section-blog a{
color: black;
}
.paragrafo-blog{
padding: 20px 50px 110px 50px;
width: 516px;   
}
.section-blog h3{
color: #FF4081;
text-align: left;
padding: 20px 0px 0px 50px;
font-size: 30px;
}
/*postagens */ 
.head-post h1{
color:#FF4081;
padding: 80px 0px 0px 0px;
text-align: center;
font-size: 50px;
}
.head-post h6{
text-align: center;
color: rgba(157, 157, 157, 1);
font-size: 18px;
padding: 0px 0px 60px 0px;
}
.quadrado-post{
margin: 0 auto;
width:1032px ;
height: 465px;
background-color:#C4C4C4 ;
}
.text-post{
padding: 50px 0 80px 0;
width: 1032px;
margin: 0 auto;
}
.text-post h2,h3{
color:#2E948A;
font-size: 26px;
}
#post-titulo{
text-align: center;
background-color: #F7F7F7; 
padding:50px 0px 50px 0px ;
font-size: 50px;
color: #FF4081;
font-weight: 500;
}
/*____________________________________________________*/
/*---post---*/

.head-post h1{
  color:#FF4081;
  padding: 80px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
}
.head-post h6{
  text-align: center;
  color: rgba(157, 157, 157, 1);
  font-size: 18px;
  padding: 0px 0px 60px 0px;
}
.quadrado-post{
  margin: 0 auto;
  width:1032px ;
  height: 465px;
  background-color:#C4C4C4 ;
}
.text-post{
  padding: 50px 0 80px 0;
  width: 1032px;
  margin: 0 auto;
}
.text-post h2,h3{
  color:#2E948A;
  font-size: 26px;
}

/*2*/
#courses {
  text-align: center;
  background-color: #F7F7F7;
  margin-top: 20px;
}

#courses h2 {
  font-weight: 500;
  font-size: 60px;
  color: #ff4081;
  padding-top: 40px;
}

#courses-cards {
  display:flex;
  justify-content: space-evenly;
}

.course-card {
  max-width: 300px;
  margin: 50px 0px 120px 0px;
}

.course-card img {
  height: 250px;
  margin-bottom: 20px;
}

.course-card h3 {
  font-weight: 700;
  text-align: center;
  color: #FF4081;
  }

.course-card p {
  font-size: 20px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.course-card a {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FF4081;
  padding: 16px 50px;
  border-radius: 62px;
}

/*____________________________________________________*/
/*footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px 26px 0px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
/*rodape(lista central)*/  
  .footer .footernav {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
  }
  /*rodape (lista direita)*/
  .botoes li {
    list-style: none;
    border: 2px solid #ffffff;
    border-radius: 62px;
    width: 289px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;   
    margin-top: 10px;
}
.footer .botoes li a {
    text-decoration: none;
    color: #FDFDFD;
  }
.footer .footernav li a {
    text-decoration: none;
    color: #FDFDFD;
  }