html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
/*cabeçario*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px #00000040;
  }
/*cabeçario (no total)*/
.header .nav {
  display: flex;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
/*cabeçario (lista a direita)*/
.header .nav li {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FDFDFD;
}
.header .nav li a {
    text-decoration: none;
    color: #FDFDFD;
  }
/*____________________________________________________*/
/*inicio*/

.principal1 {
  margin: 0 auto;
  width: 600px;
  display: flex;
  padding: 20px 20px 20px 20px;
  justify-content: space-evenly;
}
.principal1 h1 {
  color: #FF4081;
  width: 480px;
  text-align:left; 
  font-size: 60px;
  text-justify: inter-word;
}
.principal1 p {
  font-size: 27px;
  padding: 20px 0 30px 0px;
  width: 320px;
}
#botao {
  border: solid 1px #FF4081 ;
  color: #FF4081;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 3px;  
}

/* inicio1 */

.inicio1 {
  padding: 50px 0px 50px 0px;
  display: flex;
  background-color: #F7F7F7;;
}

.inicio1 ul{
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    margin: 0 auto;   
}

.inicio1 h3{
    padding: 20px 0px -0px 0px;
    color: #FF4081;
}

.inicio1 li{
    text-align: center;
    width: 400px;
   
}

.paragrafo{
    padding: 5px;
    margin: 0px 0px 20px 0px;
}

.buttonpink{
    
    background-color: #FF4081;
    width: 200px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    border-radius: 40px;
    padding: 14px 0 14px 0;

}

/*quem somos nos*/

.principal3{
  width: 1400px;
  margin: 0 auto;
}

.principal3 h3{
  font-size: 37px;
  padding: 80px 0px 50px 100px;
  color: #2E948A;
}

.principal3 ul{
  display: flex;
  padding: 0px 0px 0px 100px;
}

.principal3 li{
  padding: 10px 80px 70px 0px;
  display: flex;
}

.principal3 p{
  padding: 10px 0px 0px 20px;
  width: 400px;
  font-size: 18px;
}

.principal3 span{
  padding: 10px;
  font-weight: 600;
}

/* Mais conteudo para voce */

.principal4 {
padding: 2px 2px 0px 2px;
display: flex;
background-color: #E5E5E5;
}

.principal4 ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.principal4 h3 {
  color: #2E948A;
  text-align: left;
  padding: 10px 0px 0px 38px;
}

section h4 {
  background-color: #E5E5E5 ;
  color: #2E948A;
  font-size: 37px;
  padding: 50px 580px 1px 10px;
  text-align: center;
}

.principal4 li {
  text-align: center;
  width: 400px;
}

.paragrafo4 {
  padding: 0px 10px 10px 0px;
  width: 319px;
  margin: 0 auto;
  text-align: left;
}

.quadro {
  margin: 0 auto;
  width: 319px;
  height: 193px;
  background-color: #C4C4C4;
}

.ver-posts{
text-align: center;
padding: 70px 0px 100px 0px;
background-color: #E5E5E5;
}

.ver-posts p{
  width: 300px;
  font-size: 25px;
  background-color: white;
  margin: 0 auto;
  font-family: "Ubuntu",sans-serif;
  border: 1px solid  #FF4081;
  color: #FF4081;
  padding: 10px 0 10px 10px;
  border-radius: 40px;
}

/*____________________________________________________*/

/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
/*rodape(lista central)*/  
  .footer .footernav {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding: 0px 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
  }
  /*rodape (lista direita)*/
  .botoes li {
    list-style: none;
    border: 2px solid #ffffff;
    border-radius: 62px;
    width: 289px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;   
    margin-top: 10px;
}
.footer .botoes li a {
    text-decoration: none;
    color: #FDFDFD;
  }
.footer .footernav li a {
    text-decoration: none;
    color: #FDFDFD;
  }